<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">FOH Orders (Add New)</h1>

    <div class="large-box" id="button-container">
        <button class="button" hx-get="/dine-in" hx-target="#button-container">Dine In</button>
        <button class="button" hx-get="/take-out" hx-target="#button-container">Take-Out</button>
        <button class="button" hx-get="/drive-through" hx-target="#button-container">Drive-Through</button>
    </div>

    <div class="button-container2">
        <button class="button"> <a href="../order/" class="link">Back to Orders</a> </button>
    </div>
</body>
</html>

