<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div class="sub-title">
        <h1>Add New Order</h1>
    </div>

    <div id="large-box-add">
        <a class="large-button-add" href="../ordercreation/">Dine In</a>
        <a class="large-button-add" href="../ordercreation/">Take-Out</a>
        <a class="large-button-add" href="../ordercreation/">Drive-Through</a>
    </div>

    <div id="button-container2" hx-target="body" hx-swap="outerHTML">
        <button class="button" hx-get="../order/">Back to Menu</button>
    </div>
</body>
</html>

