<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div class="sub-title">
        <h1>Add New Order</h1>
    </div>

    <div id="large-box-add" id="button-container">
        <button class="large-button-add" hx-get="/dine-in" hx-target="#button-container">Dine In</button>
        <button class="large-button-add" hx-get="/take-out" hx-target="#button-container">Take-Out</button>
        <button class="large-button-add" hx-get="/drive-through" hx-target="#button-container">Drive-Through</button>
    </div>

    <div class="button-container2">
        <button class="button"> <a href="../order/" class="link">Back to Orders</a> </button>
    </div>
</body>
</html>

