<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div class="sub-title">
        <h1>Ready</h1>
    </div>

    <div id="large-box">
        <div class="orders-container">
            {% if ready_orders %}
                {% for order in ready_orders|dictsortreversed:"time_est" %}
                    <div class="order-box" id="order_{{ order.id }}">
                        <h3><b>Order Number: {{ order.number }}</b></h3>
                        <div class="message-box"> 
                            <button class="message-button" hx-trigger="click" hx-get="{% url 'basic:get_food_details' order.id %}">{{ order.message }}</button>
                        </div>
                        <form id="mark_completed_form_{{ order.id }}" hx-post="{% url 'basic:mark_completed' order.id %}">
                            {% csrf_token %}
                            <button class="button" type="submit">Completed</button>
                        </form>
                        <form id="remove_ready_form_{{ order.id }}" hx-post="{% url 'basic:remove_ready' order.id %}">
                            {% csrf_token %}
                            <button class="button" type="submit">Revert: In Progress</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders in progress.</p>
            {% endif %}
        </div>
    </div>

    <div id="button-container2" hx-target="body" hx-swap="outerHTML">
        <button class="button" hx-get="../back-order/">Back to Menu</button>
    </div>

</body>
</html>