<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>
        
    </style>
</head>
<body>
    <h1 style="text-align: center;">(In Progress)</h1>

    <div class="large-box">
        <div class="orders-container">
            {% if in_progress_orders %}
                {% for order in in_progress_orders %}
                        <form id="order_form_{{ order.id }}" hx-post="{% url 'mark_ready' order.id %}">
                        <h3><b>Order Number: {{ order.number }}</b></h3>
                        <p>Est. Time: {{ order.time_est }}</p>
                        <form id="order_form_{{ order.id }}" hx-post="{% url 'mark_ready' order.id %}">
                            {% csrf_token %}
                            <button class="button" type="submit">Ready</button>
                        </form>  
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders in progress.</p>
            {% endif %}
        </div>
    </div>

    <div class="button-container2">
        <button class="button"> <a href="../back-order/" class="link">Back to Menu</a> </button>
    </div>

</body>
</html>