<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>
        #large-box {
            margin: 20px auto; /* Center the box horizontally with some margin */
            width: 80%; /* Set the width of the box */
            height: 200px; /* Set the height of the box */
            background-color: rgb(80, 203, 90); /* Set the background color of the box */
            border: 2px solid black; /* Add a border to the box */
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">(In Progress)</h1>

    <div id="large-box">
        <div class="orders-container">
            {% if in_progress_orders %}
                {% for order in in_progress_orders %}
                    <div class="order-box">
                        <form id="order_form_{{ order.id }}" hx-post="{% url 'mark_ready' order.id %}">
                        <h3><b>Order Number: {{ order.number }}</b></h3>
                        <p>Est. Time: {{ order.time_est }}</p>
                        <form id="order_form_{{ order.id }}" hx-post="{% url 'mark_ready' order.id %}">
                            {% csrf_token %}
                            <button class="button" type="submit">Ready</button>
                        </form>  
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders in progress.</p>
            {% endif %}
        </div>
    </div>

    <div class="button-container2">
        <button class="button"> <a href="../back-order/" class="link">Back to Menu</a> </button>
    </div>

</body>
</html>