<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>
       
    </style>
</head>
<body>
    <div class="sub-title">
        <h1>Completed</h1>
    </div>

    <div id="large-box">
        <div class="orders-container">
            {% if completed_orders %}
                {% for order in completed_orders %}
                    <div class="order-box">
                        <h3><b>Order Number: {{ order.number }}</b></h3>
                        <p>Time Completed: {{ order.time_completed}}</p>
                        <p>Price: {{ order.price}}</p>
                        <form id="remove_completed_form_{{ order.id }}" hx-post="{% url 'remove_completed' order.id %}">
                            {% csrf_token %}
                            <button class="button" type="submit">Revert: to Ready</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders in progress.</p>
            {% endif %}
        </div>
    </div>

    <div class="button-container2">
        <button class="button"> <a href="../back-order/" class="link">Back to Menu</a> </button>
    </div>

</body>
</html>