<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <div class="main">
            <b><u> Clock In / Clock Out </u></b>
            <br>
            {% for employee in employee_list %}
                {{ employee.user }}<input id="clock" type="button" onclick="change()" value="Clock In"></input>
                <br>
            {% endfor %}
            <script>
                function change() { // Right now, this only changes the first button's value, not the one you click on
                    var elem = document.getElementById("clock");
                    if (elem.value=="Clock In") { elem.value = "Clock Out"; }
                    else { elem.value = "Clock In"; }
                }
            </script>
        </div>
    </body>