<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        
    </style>
</head>
<body>
    <h1 style="text-align: center;">FOH Orders (Completed)</h1>

    <div class="large-box">
        <div class="orders-container">
            {% if completed_orders %}
                {% for order in completed_orders %}
                    <div class="order">
                        <h3><b>Order Number: {{ order.number }}</b></h3>
                        <p>Time Completed: {{ order.time_completed}}</p>
                        <p>Price: {{ order.price}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders in progress.</p>
            {% endif %}
        </div>
    </div>

    <div class="button-container2">
        <button class="button"> <a href="../order/" class="link">Back to Orders</a> </button>
    </div>

</body>
</html>