<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        
    </style>
</head>
<body>
    <div class="sub-title">
        <h1>Completed</h1>
    </div>

    <div id="large-box">
        <div class="orders-container">
            {% if completed_orders %}
                {% for order in completed_orders|dictsortreversed:"time_est" %}
                    <div class="order-box">
                        <h3><b>Order Number: {{ order.number }}</b></h3>
                        <p>Time Completed: {{ order.time_completed}}</p>
                        <p>{{ order.message }}</p>
                        <p>Price: ${{ order.price}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders in progress.</p>
            {% endif %}
        </div>
    </div>

    <div id="button-container2" hx-target="body" hx-swap="outerHTML">
        <button class="button" hx-get="../order/">Back to Menu</button>
    </div>

</body>
</html>