{% load static %}
<link rel="stylesheet" href="{% static 'managerial.css' %}">

<!-- Display All Employees -->
<!-- Note: Used a dropdown menu for the time being -->
<div class = "main">
    <h1>
      Employees
    </h1>
    <div class = "container">
  
    <form method = "POST">
        <div id="view-employees">
            <!-- Lists all employees -->
            {{ list_all_employees|safe }}
        </div>
      
      <br />

      <!-- Button to view a specific employee -->
      <input type="button" name="View" value="View" class = "btn"
              hx-post="{% url 'basic:view-employee' %}" hx-trigger="click" 
              hx-target="#employee-info" hx-include="#select-employees"/>
  
      <!-- Button to remove a specific employee -->
      <input type="button" name="Remove" value="Remove" class= "refresh-list btn-rmv"
              hx-post="{% url 'basic:remove-employee' %}" hx-trigger="click" hx-swap = "innerHTML"
              hx-target="#employee-info" hx-include="#select-employees"/>
    </form>
    <br>
    <form>
      <!-- Button to add a new employee (view the form) -->
    <input type="button" name="New Employee" value="New Employee"  class = "btn"
          hx-post="{% url 'basic:new-employee' %}" hx-trigger="click" 
          hx-target="#employee-info" hx-swap = "innerHTML" />
    </form>
      <!-- Section for viewing/adding/editing an employee -->
      <div id="employee-info"></div>
    </div>
</div>
  