<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>

    </style>

</head>

<body>
    <h1 style="text-align: center;">FOH Orders</h1>
    
    <div class="button-container">
        
        <button class="button" hx-get="../addneworder/">Add New Order</button>
        <button class="button" hx-get="../inprogress/">In Progress</button>
        <button class="button" hx-get="../ready/">Ready</button>
        <button class="button" hx-get="../completed/">Completed</button>
    
    </div>

</body>

</html>