<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@^1.6.0/dist/htmx.min.js"></script>
    <style>
        #button-container {
            text-align: center; /* Center align the content */
        }
    </style>

</head>

<body>
    <h1 style="text-align: center;">FOH Orders</h1>
    
    <div id="button-container" hx-target="#button-container" hx-swap="innerHTML">
        <button class="button" hx-get="../addneworder/" hx-trigger="click" hx-swap="outerHTML" style="background-color: rgb(54, 210, 138);">Add New Order</button>
        <button class="button" hx-get="../inprogress/" hx-trigger="click" hx-swap="outerHTML" style="background-color: rgb(54, 210, 138);;">In Progress</button>
        <button class="button" hx-get="../ready/" hx-trigger="click" hx-swap="outerHTML" style="background-color: rgb(54, 210, 138);;">Ready</button>
        <button class="button" hx-get="../completed/" hx-trigger="click" hx-swap="outerHTML" style="background-color: rgb(54, 210, 138);;">Completed</button>
    </div>

</body>

</html>