<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        
    </style>
</head>
<body>
    <h1 style="text-align: center;">FOH Orders (Ready)</h1>

    <div class="large-box">
        <div class="orders-container">
            {% if ready_orders %}
                {% for order in ready_orders %}
                    <div class="order">
                        <h3><b>Order Number: {{ order.number }}</b></h3>
                        <p>Est. Time: {{ order.time_est }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders Ready.</p>
            {% endif %}
        </div>
    </div>

    <div class="button-container2">
        <button class="button"> <a href="../order/" class="link">Back to Orders</a> </button>
    </div>

</body>
</html>