{% extends "./sidenav.html" %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" id="sidenav-style-css" href="{% static 'sales.css' %}" media="all">
{% endblock %}

{% block content %}

<div class="sales-section">
    <h2>Sales</h2>
    <div class="date-range">
        <!-- date range input here -->
    </div>
    <div>
        <button>Generate Summary Report</button>
    </div>
    <div>
        <button>Generate Raw CSV</button>
    </div>
</div>

<hr id="section-seperator" /> 

<div class="summary-section">
    <h2>Summary</h2>
    <div class="summary-report">
        <!-- Summary report here -->
    </div>
</div>

{% endblock %}