{% extends "./sidenav.html" %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" id="sales-style-css" href="{% static 'sales.css' %}" media="all">
{% endblock %}

{% block content %}
<h2>Sales</h2>
<div class="sales-section">
    <div class="button-section">
        <button>Generate Summary Report</button>
        <button>Generate Raw CSV</button>
    </div>
    <div class="date-range">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" autocomplete="off">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" autocomplete="off">
    </div>
</div>

<hr id="section-seperator" /> 

<h2>Summary</h2>
<div class="summary-section">
    <div class="summary-report">
        <!-- Summary report here -->
    </div>
</div>
{% endblock %}
