{% load static %}
<html lang="en-US">
    <head>
        <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" id="sidenav-style-css" href="{% static 'sidenav.css' %}" media="all">
    </head>
    <body>
        <!-- Side Navigation Bar For Managers -->
        <div class="sidenav">
            <a><u>Categories</u></a>
            <a href="../manageemployees/">Employees</a>
            <a><b>Menu</b></a>
            <a href="../inventory">Inventory</a>
            <a href="../sales">Sales</a>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>