<div id="orderSummary" name="orderSummary">
{{meal.name}} was added to order.
<br>
<br>
<u>Order Summary:</u>
{% for food in foods %}
    <br>
    <br>
    <a><u>{{food.name}}</u></a>
    <br>
    <a>{{food.message}}</a>
{% endfor %}
<br>
{% for mealInstruction in mealInstructions %}
    <br>
    <a>{{mealInstruction}}</a>
    <br>
{% endfor %}
<br>
<a><u>Total</u> {{total}}</a>
<br>
<button hx-get="{% url 'basic:removedItem' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
hx-target="#orderSummary">Remove Items From Order</button>
<br>
<a href="{% url 'basic:order' %}">
    <button>Finish Order</button>
</a>
</div>