<div id="foodCustomizer">
<a><u>{{food.name}}</u></a>
<br>
<a>Message</a> <input type="text" name = "message" id="message">
<br>
<form id = "changesForm" name = "changesForm">
<button hx-post="{% url 'basic:addFoodToOrder' %}" hx-target="#foodCustomizer" hx-include="#message, #changesForm"
hx-vals='{"foodName": "{{food.name}}"}' hx-swap="innerHTML">Submit Item</button>
<br>
{% for ingredient in inFood %}
    <br>
    <a> {{ingredient.name}}: </a>
    <input type="range" min="-2" max="2" step="1" value="0" hx-target="#change{{ingredient.idnumber}}"
    hx-post="{% url 'basic:amountchange' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    name="addition{{ingredient.idnumber}}" id="addition{{ingredient.idnumber}}"
    hx-include="#addition{{ingredient.idnumber}}" hx-vars="ingredientid:{{ ingredient.idnumber }}"> 
    <div id="change{{ingredient.idnumber}}">Standard</div>
{% endfor %}
</form>
{% for ingredient in notInFood %}
    <br>
    <a> {{ingredient.name}}: </a>
    -2 <input type="range" min="-2" max="2" step="1" value="0"> 2
{% endfor %}
</div>