<div id="foodCustomizer">
<p><u>{{food.name}}</u></p>
<br>
<p>Message</p> <input type="text" name = "message" id="message">
<br>
<form id = "changesForm" name = "changesForm">
<button hx-post="{% url 'basic:addFoodToOrder' %}" hx-target="#foodCustomizer" hx-include="#message, #changesForm"
hx-vals='{"foodName": "{{food.name}}"}' hx-swap="innerHTML">Submit Item</button>
<br>
<br>
<p> <u>Modify Ingredients In Food</u> </p>
<br>
{% for ingredient in inFood %}
    <br>
    <p> {{ingredient.name}}: </p>
    <input type="range" min="-2" max="2" step="1" value="0" hx-target="#change{{ingredient.idnumber}}"
    hx-post="{% url 'basic:amountchange' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    name="addition{{ingredient.idnumber}}" id="addition{{ingredient.idnumber}}"
    hx-include="#addition{{ingredient.idnumber}}" hx-vars="ingredientid:{{ ingredient.idnumber }}"> 
    <div id="change{{ingredient.idnumber}}">Standard</div>
{% endfor %}
<br>
<p> <u>Add Extra Ingredients</u> </p>
<br>
{% for ingredient in notInFood %}
    <br>
    <p> {{ingredient.name}}: </p>
    <input type="range" min="0" max="2" step="1" value="0" hx-target="#change{{ingredient.idnumber}}"
    hx-post="{% url 'basic:amountchange' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    name="addition{{ingredient.idnumber}}" id="addition{{ingredient.idnumber}}"
    hx-include="#addition{{ingredient.idnumber}}" hx-vars="ingredientid:{{ ingredient.idnumber }}"> 
    <div id="change{{ingredient.idnumber}}">Standard</div>
{% endfor %}
</form>
</div>