<div id="mealCustomizer">
    <p><u>{{meal.name}}</u></p>
    <br>
    {% for food in foods %}
        <button hx-target="#customizeFoodInMeal" hx-get="{% url 'basic:customizeFoodInMeal' %}"
        hx-vals='{"foodCode": "{{food.code}}", "mealCode": "{{meal.code}}"}' class="btn btn-outline-primary">{{food.name}}</button>
        <br>
    {% endfor %}
    <br>
    <button hx-target="#mealCustomizer" hx-get="{% url 'basic:addMealToOrder' %}"
    hx-vals='{"mealCode": "{{meal.code}}"}' class="btn btn-outline-info">Submit Meal</button>
    <br><br>
    <div id="customizeFoodInMeal"></div>
</div>