<div id="view-food-details">
    <form method="POST" id="edit-food-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id = "original_name" name="original_name" value="{{ form.initial_name.value }}">
        <!-- Save and Cancel buttons for editing an existing food -->
        <button type="reset" class="cancel-button">Cancel</button>
        <button type="button" class="remove-food-button" hx-post="{% url 'basic:remove_food' %}">Remove Food</button>
        <!-- Add New Ingredient button -->
        <div class="edit-ingredient-container">
            <div class="edit-ingredient-box">
                <form id = "edit-ingredients">
                    <input hidden name = "original_name" value = "{{ form.initial_name.value }}" />
                    <button type="button" class="edit-ingredient-button" 
                        hx-get="{% url 'basic:ingredient_list' %}" hx-target="#ingredient-list-container"
                        hx-include = "edit-ingredients">
                    Edit Ingredients</button>
                </form>
                
            </div>
        </div>
        <div id="ingredient-list-container">
            {% include 'basic/partials/ingredient_list.html' %}
        </div>
        <button type="submit" formaction="{% url 'basic:edit_view_food' %}">Save</button>
    </form>
</div>
