<div id = "view-meal-details">
    <form method="POST" id="edit-meal-form">
        <div class="edit-meal-title"> 
            Edit/View Meal 
          </div>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="original_name" name="original_name" value="{{ form.initial_name.value }}">
        <!-- Save and Cancel buttons for editing an existing food -->
        <button type="reset" class="cancel-button">Cancel</button>
        <button type="submit" class="btn" hx-post="{% url 'basic:edit_view_meal' %}"
        hx-trigger = "click" hx-swap= "outerHTML" hx-target = "#view-meal-details" hx-include = "#edit-meal-form">Save</button>
    </form>
    <!-- Form for removing meal -->
    <form method="POST" id="remove-meal-form" >
        {% csrf_token %}
        <input type="hidden" name="meal_name" value="{{ form.initial_name.value }}">
        <button type="submit" class="remove-meal-button btn-rmv" hx-post="{% url 'basic:remove_meal' %}"
            hx-trigger = "click" hx-swap= "outerHTML" hx-target = "#view-meal-details" hx-include = "#remove-meal-form"
        >Remove Meal</button>
    </form>
</div>