<!-- Edit/View Food Items -->
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="edit-view-food-container">
    {% for food in foods %}
    <div class="food-item">
        <span>{{ food.name }}</span>
        <form method="POST" hx-post="{% url 'basic:edit_view_food' %}" hx-trigger="submit">
            {% csrf_token %}
            <input type="hidden" name="food_name" value="{{ food.name }}">
            <input type="hidden" name="selected_category" value="{{ selected_category }}">
            <button type="submit" name="edit_food" class="edit-food-button">Edit/View</button>
        </form>
        <span><a href="#" class="remove-food-button">-</a></span>
    </div>
    {% endfor %}
</div>
