<table>
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
    </tr>
    {% for ingredient in ingredients %}
    <tr>
      <td> 
        {{ ingredient.name }} 
        <input type="number" name="amount{{ ingredient.idnumber }}" id="amount{{ ingredient.idnumber }}">
        <button type="button" hx-target="#quantity{{ ingredient.idnumber }}" hx-trigger="click" 
        hx-post="{% url 'basic:quantity' %}" hx-include="#amount{{ ingredient.idnumber }}"
        hx-vars="ingredient:{{ ingredient.idnumber }}"> Submit </button>
      </td>
      <td> <div id="quantity{{ ingredient.idnumber }}"> {{ ingredient.quantity }} </div> </td>
    </tr>
    {% endfor %}
  </table>